.Hrow,.navBox{
    justify-content: space-between;
    align-items: center;
}
.mainNav{
    box-shadow: 0px 6px 12px -8px #808080b8;
}

.btnNew{
    background-color: #502c7a;
}
.navList a{
    text-transform: uppercase;
    cursor: pointer;
}
.navList a:hover{
    color: rgb(184, 25, 52) !important;
    
}


